version: "3.9"

services:
  attacker:
    image: kalilinux/kali-rolling
    container_name: attacker
    networks:
      - dmznet
    command: ["sleep", "infinity"]
    tty: true

  dmz_web:
    build:
      context: ./dmz_web
      dockerfile: Dockerfile
    container_name: dmz-web
    networks:
      - dmznet
      - satcomnet
    ports:
      - "8088:80"
    volumes:
      - support_data:/app/shared/support

  satellite:
    build:
      context: .
      dockerfile: satellite/Dockerfile
    container_name: satellite
    networks:
      - satcomnet
    ports:
      - "5001:5001"

  ground:
    build:
      context: .
      dockerfile: ground-station/Dockerfile
    container_name: ground-station
    networks:
      - satcomnet
    ports:
      - "5003:5003"
    depends_on:
      - satellite
    environment:
      - MONITOR_SERVER_URL=http://monitoring:5002/api/logs
    volumes:
      - support_data:/app/shared/support

  monitoring:
    build:
      context: .
      dockerfile: monitor/Dockerfile
    container_name: monitoring
    networks:
      - satcomnet
    ports:
      - "5002:5002"

  webui:
    build:
      context: .
      dockerfile: webui/Dockerfile
    container_name: webui
    networks:
      - satcomnet
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_BASE=http://ground-station:5003/api
      - REACT_APP_MONITOR_API_URL=http://monitoring:5002/api
      - REACT_APP_SAT_API=http://satellite:5001/api
  monitor_ui:
    build:
      context: ./monitor_ui
      dockerfile: Dockerfile
    container_name: monitor-ui
    networks:
      - satcomnet
    ports:
      - "8080:8080"
    depends_on:
      - monitoring
  

networks:
  dmznet:
    driver: bridge
  satcomnet:
    driver: bridge

volumes:
  support_data:
